body {
  background-image: linear-gradient(#121212, #0269b6, #121212);
  height: 98vh;
  width: 98vw;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  color: #d6d6ea;
  font-family: "DM Sans", sans-serif;;
}

.container-aplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  border: 1px solid #b3b3b3;
  padding: 30px 30px 30px 30px;
  border-radius: 50px;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#informacoes-faixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}

#anterior, #proximo {
  font-size: 3rem;
}

#play-pause {
  font-size: 4rem;
}

#container-botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.container-galeria .galeria {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border: 1px solid #b3b3b3;
}

#titulo-galeria {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-weight: 600;
}

.offer__scroll-container {
  width: 100%;
  overflow-x: auto;
}

.offer__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.offer__list-item {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 50px 50px;
}

.cards {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.cards span {
  margin-top: 10px;
  font-size: 18px;
}

.cards:hover img {
  transform: scale(1.1); /* Aumenta o tamanho em 10% */
}